.spinner__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (min-width: 768px) {
  .spinner {
    border: 12px solid rgba(0, 0, 0, 0.1);
    width: 160px;
    height: 160px;
    border-left-color: #09f;
  }
  .spinner--txt {
    font-size: 25px;
  }
}
