.OrderItem {
  display: flex;
}

.productInfoContent {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 4px;
  color: #000;
}

.controlsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoPriceContent {
  display: flex;
  justify-content: center;
}

.amountControlsContent {
  display: flex;
  align-items: center;
}

.substractItem,
.addItem {
  cursor: pointer;
  margin: 0 4px;
}

.amount {
  color: #000;
  margin: 0 4px;
}

.cancelBtn {
  background: transparent;
  outline: none;
  border: none;
}

@media only screen and (min-width: 768px) {
  .productInfoContent {
    width: 280px;
    margin-left: 12px;
  }
  .cancelBtn {
    font-size: 20px;
  }
}
